.afs-ubuntu { font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; ;}

.afs-pt-serif { font-family: "PT Serif", "Times New Roman", "Georgia", "Palatino", "Hoefler Text", "Baskerville", serif; font-size: 1.040em;}

@font-face {
  font-family: 'Ubuntu';
  src: font-url('Ubuntu-B-webfont.eot');
  src: local('☺'), font-url('Ubuntu-B-webfont.woff') format('woff'), font-url('Ubuntu-B-webfont.ttf') format('truetype'), font-url('Ubuntu-B-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: font-url('Ubuntu-BI-webfont.eot');
  src: local('☺'), font-url('Ubuntu-BI-webfont.woff') format('woff'), font-url('Ubuntu-BI-webfont.ttf') format('truetype'), font-url('Ubuntu-BI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Ubuntu';
  src: font-url('Ubuntu-I-webfont.eot');
  src: local('☺'), font-url('Ubuntu-I-webfont.woff') format('woff'), font-url('Ubuntu-I-webfont.ttf') format('truetype'), font-url('Ubuntu-I-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Ubuntu';
  src: font-url('Ubuntu-R-webfont.eot');
  src: local('☺'), font-url('Ubuntu-R-webfont.woff') format('woff'), font-url('Ubuntu-R-webfont.ttf') format('truetype'), font-url('Ubuntu-R-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'PT Serif';
  src: font-url('PTF75F-webfont.eot');
  src: local('☺'), font-url('PTF75F-webfont.woff') format('woff'), font-url('PTF75F-webfont.ttf') format('truetype'), font-url('PTF75F-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'PT Serif';
  src: font-url('PTF76F-webfont.eot');
  src: local('☺'), font-url('PTF76F-webfont.woff') format('woff'), font-url('PTF76F-webfont.ttf') format('truetype'), font-url('PTF76F-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'PT Serif';
  src: font-url('PTF56F-webfont.eot');
  src: local('☺'), font-url('PTF56F-webfont.woff') format('woff'), font-url('PTF56F-webfont.ttf') format('truetype'), font-url('PTF56F-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'PT Serif';
  src: font-url('PTF55F-webfont.eot');
  src: local('☺'), font-url('PTF55F-webfont.woff') format('woff'), font-url('PTF55F-webfont.ttf') format('truetype'), font-url('PTF55F-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}
